@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1536px){
  .container{
    max-width: 1280px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.img_face{
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 199px;
}
.img_list_blog{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_list_blog img{
  object-fit: cover;
  object-position: center;
  height: 230px;
  width: 100%;
}
header > nav > li{
  margin-right: 3rem;
  font-size: 1.3rem;
}

.description p{
  @apply mb-4;
}

body code.ch-code-scroll-parent{
  width: 100% !important;
}